---
import Base from '../layouts/Base.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Categorias from '../components/Categorias.astro';
import Tintometria from '../components/Tintometria.astro';
import Marcas from '../components/Marcas.astro';
import Servicios from '../components/Servicios.astro';
import Nosotros from '../components/Nosotros.astro';
import Ubicacion from '../components/Ubicacion.astro';
import CTAFinal from '../components/CTAFinal.astro';
import Footer from '../components/Footer.astro';
import WhatsAppFloat from '../components/WhatsAppFloat.astro';
---

<Base>
  <Header />
  <main>
    <Hero />
    <Categorias />
    <Tintometria />
    <Servicios />
    <Nosotros />
    <Ubicacion />
    <Marcas />
    <CTAFinal />
  </main>
  <Footer />
  <WhatsAppFloat />
</Base>
